	body{
		background-color: aqua
		
	}
	
	b {
		color: red
	}

	i {
		color: green
	}

	u {
		color: orange

	}

	header {
		background-color: aquamarine
	}
	

	nav{
		background-color: rgb(158,255,255)
	}


	p{
		background-color: rgb(188,255,255)
	}					

